main{
  padding: 100px 200px;
  min-height: 100vh;
}
main h2{
    color: #88ACB5;
    font-size: 1.1em;
    font-weight: 500;
}
main h3{
    color: #414042;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
main .title{
  display: flex;
  justify-content: center;
  color: #88ACB5;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
main h3 span{
    display: inline-block;
    margin-top: 10px;
    color:  #414042;
    font-size: 0.7em;
    font-weight: 500;
}
main p{
  color: #414042;
  letter-spacing: 1px;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: justify;
}
#underline{
  text-decoration: underline;
}
.container{
  max-width: 70%;
  margin: 0 auto;
  height: 100%;
}
.post-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}
.author-grid{
  display: grid;
  row-gap: 10px;
}
.grid-card{
  overflow: hidden;
  padding: 20px;
  background-color: #ffffff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  margin: 40px 10px;
  transition: 0.4s ease;
  text-align: center;
}
.grid-card:hover{
  transform: scale(1.1);
}
.card-img{
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.card-info{
  padding: 26px 20px;
}
